body {
    font-family: 'Kinsta', sans-serif; 
    font-weight: 400;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-color: #08082E;
}

.container {
    display: flex;
    flex-direction: column; /* Empilhar os elementos verticalmente */
    align-items: center; /* Centralizar os elementos horizontalmente */
}



.login{
    font-family: 'Kinsta', sans-serif;
    font-weight: 400;
    background-color: #7a7a7a0c;
    text-align: center;
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
}

#conectar{
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.863);
    text-decoration: none;
    background-color: #0FF2F2;
    color: #10003e;
}



a{
    text-align: center;
    text-decoration: none; 
    font-size: 12px;
    color: #ffffff; 
}

#email,#senha,#nome,#usuario{
    margin-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.863);
    border: none;
    border-radius: 4px;

}

p{
    margin-top: 20px;
   
}